CompMath/Practical assignment/main.aux
CompMath/Practical assignment/main.bbl
CompMath/Practical assignment/main.blg
CompMath/Practical assignment/main.fdb_latexmk
CompMath/Practical assignment/main.fls
CompMath/Practical assignment/main.log
CompMath/Practical assignment/main.out
CompMath/Practical assignment/main.pdf
CompMath/Practical assignment/main.synctex.gz
CompMath/Practical assignment/revtex4-2.cls
CompMath/Practical assignment/revquantum.sty
