CompMath/Practical assignment/main.aux
CompMath/Practical assignment/main.bbl
CompMath/Practical assignment/main.blg
CompMath/Practical assignment/main.fdb_latexmk
CompMath/Practical assignment/main.fls
CompMath/Practical assignment/main.log
CompMath/Practical assignment/main.out
CompMath/Practical assignment/main.pdf
CompMath/Practical assignment/main.synctex.gz
CompMath/Practical assignment/revtex4-2.cls
CompMath/Practical assignment/revquantum.sty

.fake
Math logic/M4/lm-4.aux
Math logic/M4/lm-4.fdb_latexmk
Math logic/M4/lm-4.fls
Math logic/M4/lm-4.log
Math logic/M4/lm-4.synctex.gz
Prog. Language/ATV1/ativ.exe
Prog. Language/ATV1/atividade1.exe
Prog. Language/Relatório/relatorio_log_prog.aux
Prog. Language/Relatório/relatorio_log_prog.fdb_latexmk
Prog. Language/Relatório/relatorio_log_prog.fls
Prog. Language/Relatório/relatorio_log_prog.idx
Prog. Language/Relatório/relatorio_log_prog.ilg
Prog. Language/Relatório/relatorio_log_prog.ind
Prog. Language/Relatório/relatorio_log_prog.log
Prog. Language/Relatório/relatorio_log_prog.toc
Prog. Language/Relatório/Imgs/logo.png
Templates/Canônico com abnTeX2/abntex2-modelo-include-comandos.aux
Templates/Canônico com abnTeX2/main.aux
Templates/Canônico com abnTeX2/main.fdb_latexmk
Templates/Canônico com abnTeX2/main.fls
Templates/Canônico com abnTeX2/main.idx
Templates/Canônico com abnTeX2/main.ilg
Templates/Canônico com abnTeX2/main.ind
Templates/Canônico com abnTeX2/main.lof
Templates/Canônico com abnTeX2/main.log
Templates/Canônico com abnTeX2/main.lot
Templates/Relatório de Pesquisa - CPAI/licenca.txt
Templates/Canônico com abnTeX2/main.toc
Templates/Simples em Latex/logo.png
Templates/Simples em Latex/trabalho simples.aux
Templates/Simples em Latex/trabalho simples.fdb_latexmk
Templates/Simples em Latex/trabalho simples.fls
Templates/Simples em Latex/trabalho simples.idx
Templates/Simples em Latex/trabalho simples.ilg
Templates/Simples em Latex/trabalho simples.ind
Templates/Simples em Latex/trabalho simples.log
Templates/Simples em Latex/trabalho simples.toc
Templates/Relatório de Pesquisa - CPAI/img/assina_UnB_CPAI_A1_PB-1.svg
Normas/abntex2.pdf
Normas/regras-abnt-para-tcc-secoes-2.png
Normas/SUMARIO-1024x652.png
Prog. Language/Relatório/relatorio_log_prog.lof
Prog. Language/Relatório/relatorio_log_prog.lol
Prog. Language/Relatório/relatorio_log_prog.pdf
Prog. Language/Relatório/relatorio_log_prog.pdf
Prog. Language/Relatório/Imgs/ex1.1.PNG
Prog. Language/Relatório/Imgs/ex1.2.PNG
Prog. Language/Relatório/Imgs/ex1.3.PNG
Prog. Language/Relatório/Imgs/ex1.4.PNG
Prog. Language/Relatório/Imgs/ex1.5.PNG
Prog. Language/Relatório/Imgs/ex1.6.PNG
Prog. Language/Relatório/Imgs/ex2.1.PNG
Templates/Trabalho Simples em Latex/logo.png
Templates/Trabalho Simples em Latex/trabalho simples.aux
Templates/Trabalho Simples em Latex/trabalho simples.fdb_latexmk
Templates/Trabalho Simples em Latex/trabalho simples.fls
Templates/Trabalho Simples em Latex/trabalho simples.idx
Templates/Trabalho Simples em Latex/trabalho simples.ilg
Templates/Trabalho Simples em Latex/trabalho simples.ind
Templates/Trabalho Simples em Latex/trabalho simples.log
Templates/Trabalho Simples em Latex/trabalho simples.pdf
Templates/Trabalho Simples em Latex/trabalho simples.toc
Prog. Language/Relatório/relatorio_log_prog.pdf
Prog. Language/ATV practical/Ex2/x64/Debug/Ex2.exe
Circuits/Pract. Assignment/src/imgs/fig.png
Circuits/Pract. Assignment/src/imgs/fig1.png
Circuits/Pract. Assignment/src/imgs/fig2.png
Circuits/Pract. Assignment/src/imgs/fig3.png
Circuits/Pract. Assignment/src/imgs/fig4.png
Circuits/Pract. Assignment/src/imgs/figa.png
Prog. Language/Relatório/relatorio_log_prog.pdf
Prog. Language/Relatório/Imgs/ex3.1.PNG
Prog. Language/Relatório/Imgs/ex3.2.PNG
Prog. Language/Relatório/Imgs/ex3.3.PNG
Prog. Language/Relatório/Imgs/ex4.1.PNG
Prog. Language/Relatório/Imgs/ex5.1.PNG
Prog. Language/Relatório/Imgs/ex5.2.PNG
Prog. Language/Relatório/relatorio_log_prog.pdf
Circuits/Pract. Assignment/src/main.pdf
Prog. Language/ATV practical/Ex2/x64/Debug/Ex2.exe
.gitignore
Prog. Language/ATV practical/Ex4/Project1/x64/Debug/Project1.exe
Prog. Language/Relatório/Ex1.cpp
Prog. Language/Relatório/Ex2.cpp
Prog. Language/Relatório/Ex3.cpp
Prog. Language/Relatório/Ex4.cpp
Prog. Language/Relatório/Ex5.cpp
Prog. Language/Relatório/relatorio_log_prog.pdf
.gitignore
Prog. Language/Relatório/relatorio_log_prog.pdf
